{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="container clearfix">
            <div class="main main-column">
                <p>{{ result }}</p>
            </div>
        </div>
    </div>
{% endblock %}
