{% set showLinkListView = true %}
{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block bodyClass %}compare-view{% endblock %}

{% block body %}
    <div class="toolbar compare-toolbar">
        <button id="comparison-list-toggle" type="button" class="button button--action category__toggle compare-show-list">
            <i class="fa fa-plus-square"></i> {% trans %}Add to compare{% endtrans %}
        </button>
        <a href="{{ absolute_url(path('domain_search_index', app.request.query.all)) }}" class="button button--action">{% trans %}List view{% endtrans %}</a>
    </div>

    <div class="main__container">
        <section class="main">
            <button id="comparison-list-hide" type="button" class="button button--action category__toggle list-hide">
                <i class="fa fa-angle-left"></i>{% trans %}Close list{% endtrans %}
            </button>

            <div class="results">
                {% if results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
                    {% include ':redesign/blocks/banners:search-page-top.html.twig' with { 'bannerType': BANNER_CODE.COMPARE_PAGE_TOP } %}

                    {% for item in results.resultSet %}
                        {% include ':redesign/blocks:search_result_item_short.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
                    {% endfor %}

                    <div>
                        {% block pagination %}
                            {% include ':redesign/layout/widgets:pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
                        {% endblock %}
                    </div>

                    {% include ':redesign/blocks/banners:search-page-down.html.twig' with { 'bannerType': BANNER_CODE.COMPARE_PAGE_BOTTOM } %}
                {% else %}
                    {% embed ':redesign/errors:error-body.html.twig' with {'errorTitle': 'error.404.title', 'errorMessage': 'error.404.message', 'errorSearchText': 'error.404.search.text', 'errorSearchCatalog': 'error.404.search.catalog'} %}
                        {% block searchErrorInput %}{% endblock %}
                        {% block errorContainerClass %}{% endblock %}
                    {% endembed %}
                {% endif %}
            </div><!-- results -->
        </section><!-- main -->

        <section class="comparison">
            <div class="comparison__item comparison__label-column">
                <div class="comparison__row comparison__now">
                    <span class="comparizon__label">{% trans %}Now{% endtrans %}</span>
                </div><!-- comparison-row -->

                <div class="comparison__row comparison__now">
                    <span class="comparizon__label">{% trans %}Where{% endtrans %}</span>
                </div><!-- comparison-row -->

                <div class="comparison__row comparison__rating">
                    <span class="comparizon__label">{% trans %}Rating{% endtrans %}</span>
                </div><!-- comparison-row -->

                <div class="comparison__row comparison__description">
                    <span class="comparizon__label">{% trans %}Basic info{% endtrans %}</span>
                </div><!-- comparison-row -->


                <div class="comparison__row comparison__highlights">
                    <span class="comparizon__label">{% trans %}Highlights{% endtrans %}</span>
                </div><!-- comparison-row -->

                <div class="comparison__row comparison__actions">
                    <span class="comparizon__label">{% trans %}Actions{% endtrans %}</span>
                </div><!-- comparison-row -->
            </div><!-- comparison__item -->

            <div class="comparison__container clearfix">

                <div class="comparison__scroll clearfix">

                    {% if results.resultSet is defined and results.resultSet is not null %}
                        {% for item in results.resultSet %}
                            {% include ':redesign/blocks:search_result_item_compare.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
                        {% endfor %}
                    {% endif %}

                </div><!-- comparison scroll -->
            </div><!-- comparison__container -->
        </section><!-- comparison -->
    </div><!-- main container -->

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/require_compare_search_page_js.js")) }}'], function(compareSearchPage) {
                var compareSearchPage = new compareSearchPage();
            });
        });
    </script>

    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
