{% set showLinkCompareView = results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:search-sorting.html.twig' %}
{% endblock %}

{% block bodyClass %}results-list{% endblock %}

{% block body %}
    <div class="main__container">
        <section class="main" id="searchResults">
            <div class="results {% if disableFilters == false %}active__toggle{% endif %}">
                <div id="searchContainer">
                    {% include ':redesign/blocks:search_result_item_block.html.twig' %}
                </div>

                <button id="show-map" type="button" class="button button-round button--show-map button- floating-offset">
                    <i class="fa fa-map"></i>
                    <span>{% trans %}Map view{% endtrans %}</span>
                </button>

                <button id="redo-search-in-map" type="button" class="button-like-google button--redo-search-in-map">
                    <i class="fa fa-search"></i>
                    <span>{% trans %}search.control.redo{% endtrans %}</span>
                </button>

                <button id="auto-search-in-map" type="button" class="button-like-google button--auto-search-in-map">
                    <i class="fa fa-square-o"></i>
                    <span>{% trans %}search.control.auto{% endtrans %}</span>
                </button>

                <button id="hide-map" type="button" class="button button-round button--hide-map">
                    <i class="fa fa-list"></i>
                    <span>{% trans %}List view{% endtrans %}</span>
                </button>
            </div><!-- results -->
        </section><!-- main -->

        <section class="results-map">
            <div id="map" class="map"></div>
            <span id="map-markers" hidden data-google-markers="{{ markers }}"></span>
        </section><!-- results-map -->
    </div><!-- main container -->
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% include ':widgets:google_map_script.html.twig' %}

    <script type="text/javascript">
        var map;

        requirejs(['{{ absolute_url(asset("bundles/domainsite/scripts/common.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("bundles/domainsite/scripts/modules/mapsearchpage.js")) }}'], function(mapSearchPage) {
                var mapSearchPage = new mapSearchPage();
            });
        });
    </script>

    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
