{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page article-page has-sidebar{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:video-breadcrumbs.html.twig' %}
{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="container clearfix">
            <div class="main main-column">
                {% if results %}
                    {% include ':redesign/blocks:video_list.html.twig' with {'businessProfiles': results.resultSet} %}
                    {% include ':redesign/layout/widgets:pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
                {% endif %}

                {% include ':redesign/blocks/banners:static-page-bottom.html.twig' with { 'bannerType': BANNER_CODE.VIDEO_PAGE_BOTTOM } %}
            </div>

            {% include ':redesign/blocks:side-ads-block.html.twig' with { 'bannerType': BANNER_CODE.VIDEO_PAGE_RIGHT_LARGE } %}
        </div>
    </div>
    {% include ':redesign/blocks:footer.html.twig' %}
{% endblock %}
