<span>{% trans %}infopaginos.copyright{% endtrans %}</span>
<div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
    <a class="white-c map-link" href="https://maps.google.com/?q=18.4140605,-66.1041006">
        <span itemprop="streetAddress">{% trans %}90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo{% endtrans %}, </span>
        <span itemprop="addressLocality">{% trans %}PR{% endtrans %}</span>
    </a>
</div>
