<span>&copy; 2016 infopáginas</span>
<div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
    <a class="white-c map-link" href="https://maps.google.com/?q=18.4140605,-66.1041006">
        <span itemprop="streetAddress">90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo, </span> 
        <span itemprop="addressLocality">PR</span>
    </a>
</div>
