<p>Este usuario está dispuesto a actualizar su cuenta</p>
<table>
    <tbody>
    <tr>
        <td style="background-color: #f0f0f0;"><b>Nombre</b></td>
        <td>{FIRST_NAME}</td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>Appellido</b></td>
        <td>{LAST_NAME}</td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>Ubicación</b></td>
        <td>{LOCATION}</td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>ID</b></td>
        <td><a href="{USER_URL}">{USER_ID}</a></td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>Teléfono</b></td>
        <td>{PHONE}</td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>Horas cuando llamar</b></td>
        <td>{TIME}</td>
    </tr>
    <tr>
        <td style="background-color: #f0f0f0;"><b>E-mail</b></td>
        <td>{EMAIL}</td>
    </tr>
    </tbody>
</table>