<p>Dear {NAME},</p>

<br/>

<p>The status of your business status has just changed to {STATUS}</p>
<div>{REASON}</div>
<p>For more information please see you business profile here: <a href="{LINK}">{LINK}</a></p>
<p>or contact our sales team!</p>
<br/>

<p>Thanks a lot,</p>
<p>Infopaginas team</p>
