<p>Dear {NAME},</p>

<br/>

<p>Here's your credentials to access your Business Profile at infopaginas.com
    <br/>
    Your login name: {EMAIL},
    Your password: {PASSWORD}
</p>
<br/>

<p>Infopaginas.</p>

<p>Best Regards!</p>
