<p>Dear {NAME},</p>

<br/>

<p>A change you suggested to the {FIELD} for <a href="{LINK}">{BUSINESS_NAME}</a> has been {ACTION}.
    Thank you for the contribution to our service, we really appreciate it!</p>
<p>For more information please contact us via info@infopaginas.com</p>

<p>Sincerely,</p>
<p>Infopaginas team</p>
