{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        <ul>
            {% for link in value %}
                <li>
                    <a href="{{ link }}" target="_blank">Download</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
