<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Infopáginas</title>

        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/redesign/img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/redesign/img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/redesign/img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/redesign/img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="/redesign/img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="/redesign/img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <meta name="mobile-web-app-capable" content="yes">

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Infopáginas">

        <link rel="stylesheet" href="/redesign/css/normalize.css">
        <link rel="stylesheet" href="/redesign/css/infopaginas.css">

        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" rel="stylesheet"> -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    </head>
    <body class="generic-page error-page">

        <header class="header">
            <div class="logo">
                <a href="/">
                    <img class="logo__icon" src="/redesign/img/infopaginas.svg" width="52">
                    <img class="logo__iso" src="/redesign/img/infopaginas-iso.png">
                </a>
            </div>
        </header>

        <div class="main__container main__container--centered">
            <div class="container clearfix">
                <div class="main">
                    <div class="article error_container">
                        <h1>Error</h1>
                        <p class="catalog__intro">
                            Service is currently unavailable, please visit our <a href="/"> main page</a>
                        </p>
                        <p class="catalog__intro">
                            El servicio no está disponible actualmente, visite nuestro <a href="/"> pagina principal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
