{% set hideHeaderSearch = true %}
{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page error-page{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block searchBlock %}{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="container clearfix">
            <div class="main">
                <div class="article error_container">
                    <h1>{% trans %}We couldn´t find the business you were looking for.{% endtrans %}</h1>
                    <p class="catalog__intro">
                        {% trans %}It´s possible that the page is temporarily unavailable, has been removed or the URL is incorrect.{% endtrans %}
                    </p>

                    <section class="error-section error__search">
                        <h2>{% trans %}Please search again{% endtrans %}</h2>

                        {% include ':redesign/blocks:search.html.twig' %}
                    </section>

                    <section class="error-section error__categories">
                        <h2>{% trans %}Our browse our catalog{% endtrans %}</h2>

                        {{ render(controller('DomainSiteBundle:Home:popularMenuItems')) }}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
