<section class="page-section">
    <h3 class="language-title">{% trans %}Chart{% endtrans %}</h3>
    <div class="form__section">
        <div id="adUsageChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto" data-title="{% trans %}ad_usage_report.chart.name{% endtrans %}" data-y-axis="{% trans %}Count{% endtrans %}" data-series-name-clicks="{% trans %}Clicks{% endtrans %}" data-series-name-imp="{% trans %}Impressions{% endtrans %}"></div>
    </div><!-- form-section -->
</section><!-- page-section -->

<section class="page-section">
    <h3 class="language-title">{% trans %}Statistics{% endtrans %}</h3>

    <div class="form__section scrollable-table" id="adUsageStatisticsContainer"></div>
</section><!-- page-section -->
