<section class="page-section">
    <h3 class="language-title">{% trans %}Chart{% endtrans %}</h3>
    <div class="form__section">
        <div class="col-xs-12 form-col" id="interactionsStatisticsContainer"></div>
    </div><!-- form-section -->
</section><!-- page-section -->
