<ul class="subnav tabs-block" role="tablist">
    <li class="active">
        <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
            {% trans %}Interactions{% endtrans %}
        </a>
    </li>

    {% if ad_usage_allowed_for_business(businessProfile) %}
        <li>
            <a href="#ad_usage" aria-controls="ad_usage" role="tab" data-toggle="tab">
                {% trans %}Ad usage{% endtrans %}
            </a>
        </li>
    {% endif %}
</ul>