<ul class="subnav tabs-block" role="tablist">
    <li class="active">
        <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
            {% trans %}Overview{% endtrans %}
        </a>
    </li>
    <li>
        <a href="#ad_usage" aria-controls="ad_usage" role="tab" data-toggle="tab">
            {% trans %}Ad usage{% endtrans %}
        </a>
    </li>
    <li>
        <a href="#keywords" aria-controls="keywords" role="tab" data-toggle="tab">
            {% trans %}Keywords{% endtrans %}
        </a>
    </li>
    <li>
        <a href="#interactions" aria-controls="interactions" role="tab" data-toggle="tab">
            {% trans %}Interactions{% endtrans %}
        </a>
    </li>
</ul>