<section class="page-section">
    <h3 class="language-title">{% trans %}Chart{% endtrans %}</h3>
    <div class="form__section"></div>
    <div id="businessOverviewChartContainer" class="overview-chart-container" data-title="{{ 'business_profile.interaction_chart.title'|trans }}" data-y-axis="{% trans %}Count{% endtrans %}"></div>

    <div class="hint-block" id="interactionHintContainer">
        {{ overviewData.chartHint|trans }}
    </div>
</section>

<section class="page-section">
    <h3 class="language-title">{% trans %}Statistics{% endtrans %}</h3>

    <div class="form__section total-block" id="businessOverviewStatisticsContainer">
        {% include 'DomainBusinessBundle:Reports:blocks/businessOverviewStatistics.html.twig' %}
    </div>
</section>