<div class="col-xs-6 find-input">
    <input type="text" id='headerSearch' name="q" placeholder="What do you want to find?"
        {% if app.request.query.get('q') is not null %} value="{{ app.request.query.get('q') }}" {% endif %}
           class="form-control what">
        
</div>
<div class="col-xs-5 search-input">
    <div class="search-geo">
    <input type="text" id='headerGeo'  name="geo" placeholder="San Juan"
        {% if app.request.query.get('geo') is not null %} value="{{ app.request.query.get('geo') }}" {% endif %}
        class="form-control">
        <span class="cross"></span>
    </div>
    <div class="search-button">
        <button type="submit" class="btn btn-primary green-btn search-btn"><i
                class="fa fa-search"
                aria-hidden="true"></i>
        </button>
    </div>
</div>

<script type="text/javascript" src="{{ asset('/bundles/domainsite/scripts/require.js')}}"></script>
<script type="text/javascript">
    requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
        requirejs(['tools/search'], function(Search) {
            var headerSearch = new Search({
                'searchSelector' : '#headerSearch',
                'searchLocations': '#headerGeo'
            });
        })
    })
</script>
