<div class="col-xs-6 find-input">

    {% if searchData is defined and searchData %}
        {% set qValue = searchData.q %}
        {% set geoValue = searchData.geo %}
    {% else %}
        {% if app.request.query.get('q') is not null %}
            {% set qValue = app.request.query.get('q') %}
        {% else %}
            {% set qValue = '' %}
        {% endif %}

        {% if app.request.query.get('geo') is not null %}
            {% set geoValue = app.request.query.get('geo') %}
        {% else %}
            {% set geoValue = '' %}
        {% endif %}
    {% endif %}

    <input type="text" id='headerSearch' name="q" placeholder="What do you want to find?" value="{{ qValue }}" class="form-control what">

</div>
<div class="col-xs-5 search-input home">
    <div class="search-geo">
        <input type="hidden" id='searchLat' name='lat' value="">
        <input type="hidden" id='searchLng' name='lng' value="">
        <input type="hidden" id='searchLocationGeoLoc' name='geoLoc' value="">

        <input type="text" id='searchLocation' name="geo" placeholder="San Juan" value="{{ geoValue }}" class="form-control">
        <span class="cross"></span>
    </div>
    <div class="search-button-home">
        <button type="submit"  id="searchHeaderButton" class="btn btn-primary green-btn search-btn"><i
                class="fa fa-search"
                aria-hidden="true"></i>
        </button>
    </div>
    <span class="searchCloseSection">Cancel section<span>
</div>

<script type="text/javascript" src="{{ asset('/bundles/domainsite/scripts/require.js')}}"></script>
<script type="text/javascript">
    requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
        requirejs(['tools/search'], function(Search) {
            var headerSearch = new Search({
                'searchSelector'     : '#headerSearch',
                'searchHeaderButton' : '#searchHeaderButton',
                'locationsSelector'  : '#headerGeo'
            });
        })
    })
</script>
