<!-- Pagination -->
<nav>
  <ul class="pagination">
    {% if pageCount > 1 %}
        {% set routeParams = app.request.attributes %}
        {% if page > 1 %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (page - 1) }) %}
            {% endif %}

            <li>
              <a href="{{ absolute_url(path(app.request.get('_route'), app.request.query.all|merge(routeParams))) }}" aria-label="Previous">
                <span aria-hidden="true">&larr; &nbsp;{% trans %}prev{% endtrans %}</span>
              </a>
            </li>
        {% endif %}
        {% for pageItem in 1..pageCount %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (pageItem) }) %}
            {% endif %}

            <li 
            {% if page == pageItem %}
                class="active"
            {% endif %}
            ><a href="{{ absolute_url(path(app.request.get('_route'), app.request.query.all|merge(routeParams))) }}">{{ pageItem }}</a></li>
        {% endfor %}
        {% if page < pageCount %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (page + 1) }) %}
            {% endif %}

            <li>
              <a href="{{ absolute_url(path(app.request.get('_route'), app.request.query.all|merge(routeParams))) }}" aria-label="Next">
                <span aria-hidden="true">{% trans %}next{% endtrans %}&nbsp; &rarr;</span>
              </a>
            </li>
        {% endif %}
    {% endif %}
  </ul>
</nav>
