<div class="about-infopaginas">
    <div class="about__item copyright">
        <span>
          © {{ 'now'|date(year_date_format) }} <a href="{{ absolute_url(path('domain_site_home_index')) }}"
                                                  target="_blank" title="Go to Infopaginas site"
                                                  data-bw-gtm-event-click
                                                  data-bw-gtm-label="Infopáginas::{{ absolute_url(path('domain_site_home_index')) }}">{% trans %}Infopáginas{% endtrans %}</a>
        </span>
    </div>
    <div class="about__item address">
        <span>
            {% trans %}90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo{% endtrans %}, {% trans %}PR{% endtrans %}
        </span>
    </div>
</div>