<section class="page-section page-section--no-box articles-section">
    <h2 class="section__title">{% trans %}Articles{% endtrans %}</h2>
    <div class="articles__container clearfix">
        {% for article in articles %}
            <a href="{{ path('domain_article_view', { 'slug' : article.getSlug() }) }}" title="{% trans %}Go to read...{% endtrans %}" class="news__item clearfix">
                <img class="news__img" src="{% path article.getImage(), 'list' %}">
                <h3 class="news__title">{{ article.getCategory().getName() }}</h3>
                <p>{{ cut_body_extension(article.getBody()) }}</p>
            </a>
        {% endfor %}
    </div>
</section>
