<header class="page-section profile-header">
    <h1>{% trans %}homepage.search_block.title{% endtrans %}</h1>
    <p></p>

    {% include ':redesign/blocks:search.html.twig' with {'isHomePage': true} %}
</header>