<section class="news__item">
    <h3 class="news__title">
        <i class="fa fa-user" aria-hidden="true"></i>
        {{ review.getUsername() }}
    </h3>
    <p>{{ review.getCreatedAt()|date(review_date_format) }}</p>
    <div class="rank">
        {% include ':widgets:rating.html.twig' with { 'ratingValue': review.getRating() } %}
    </div>
    <p>{{ review.getContent() }}</p>
</section>