{% if results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
    {% include ':redesign/blocks/banners:search-page-top.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_TOP } %}

    <div class="number-results">
       We've found {{ results.resultCount }} results
    </div>

    {% for item in results.resultSet %}
        {% include ':redesign/blocks:search_result_item.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
    {% endfor %}

    <div>
        {% block pagination %}
            {% include ':redesign/layout/widgets:pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
        {% endblock %}
    </div>

    {% include ':redesign/blocks/banners:search-page-down.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_BOTTOM } %}
{% else %}
    {% embed ':redesign/errors:error-body.html.twig' with {'errorTitle': 'error.404.title', 'errorMessage': 'error.404.message', 'errorSearchText': 'error.404.search.text', 'errorSearchCatalog': 'error.404.search.catalog'} %}
        {% block searchErrorInput %}{% endblock %}
        {% block errorContainerClass %}{% endblock %}
    {% endembed %}
{% endif %}