<div class="toolbar">
    <div class="toolbar__nav" data-bw-gtm-component="search-sorting">
        <a href="{{ absolute_url(path('domain_search_catalog')) }}" title="{% trans %}Catalog{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="Catalog">
            <button type="button" class="button button--action category__toggle">
                <i class="fa fa-list"></i>
                <span>{% trans %}Catalog{% endtrans %}</span>
            </button>
        </a>

        {% include ':redesign/blocks:search-filters.html.twig' %}
    </div><!-- toolbar__nav -->
</div><!-- toolbar -->
