{% if disableFilters is not defined %}
    {% set disableFilters = false %}
{% endif %}

<div class="sort-bar" data-bw-gtm-component="search-filters">
    <button id="sort-toggle" class="button sort-bar__button {% if disableFilters == false %}active{% endif %}" type="button" {% if disableFilters %}disabled{% endif %} data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Sort{% endtrans %}">
        <i class="fa fa-sort"></i>
        <span>{% trans %}Sort{% endtrans %}</span>
    </button>
    <button id="filter-toggle" class="button sort-bar__button" type="button" {% if disableFilters %}disabled{% endif %} data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Filter{% endtrans %}">
        <i class="fa fa-filter"></i>
        <span>{% trans %}Filter{% endtrans %}</span>
    </button>

    <div class="sort__options sort {% if disableFilters == false %}sort--on{% endif %}">
        <a id="sort-match-link" href="{{ absolute_url(path(pageRouter, searchData|merge({ 'order': searchRelevance }))) }}" {% if noFollowRelevance %} rel="nofollow"{% endif %} {% if disableFilters %}class="disabledLink" {% endif %} data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Best match{% endtrans %}">
            <button id="sort-match" type="button" class="button sort-button {% if app.request.get('order') != searchDistance %}sort--active{% endif %}">
                {% trans %}Best match{% endtrans %}
                <i class="fa fa-sort-amount-desc"></i>
            </button>
        </a>
        <a id="sort-distance-link" href="{{ absolute_url(path(pageRouter, searchData|merge({ 'order': searchDistance }))) }}" {% if noFollowDistance %} rel="nofollow"{% endif %} {% if disableFilters %}class="disabledLink" {% endif %} data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Distance{% endtrans %}">
            <button id="sort-distance" type="button" class="button sort-button {% if app.request.get('order') == searchDistance %}sort--active{% endif %}">
                {% trans %}Distance{% endtrans %}
                <i class="fa fa-location-arrow"></i>
            </button>
        </a>
    </div>

    <div class=" sort__options filter">
        <form class="form">
            <div class="filter__item">
                <div class="form__field field-filter-category">
                    <select id="filter-category" name="filter-1" {% if disableFilters %}class="disabledLink" {% endif %}>
                        {% include ':blocks/search:categories_select_options.html.twig' %}
                    </select>
                </div>
            </div>
            <div class="filter__item">
                <div class="form__field field-filter-neighborhoods">
                    <select id="filter-Neighborhood" name="filter-2" {% if disableFilters %}class="disabledLink" {% endif %}>
                        {% include ':blocks/search:neighborhood_locations_select_options.html.twig' %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>