{% extends "DomainSiteBundle:Layout:homepage.html.twig" %}

{% block homapageHeaderHexagonDesc %}
    {% include 'DomainSiteBundle:Home:Widgets/hexagonMenuWidget.html.twig' %}
{% endblock %}

{% block  homapageHeaderHexagonMobile %}
    {% include 'DomainSiteBundle:Home:Widgets/hexagonMenuMobileWidget.html.twig' %}
{% endblock %}


{% block  homapageHeaderSearchBlock %}
    {% include 'DomainSiteBundle:Home:Widgets/searchWidget.html.twig' %}
{% endblock %}


{% block mainColumnBanner %}
    <section id="banner" class="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 banner-block desc-banner">
                    {% include 'DomainSiteBundle:Layout:Widgets/bannerWidget.html.twig' with { 'banner' : banner } %}
                </div>
                <div class="col-xs-12 mobile-banner">
                    <img src="http://placehold.it/300x250">
                    <img src="http://placehold.it/300x250">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block  mainColumnContainers %}
    <section id="articles-videos" class="articles-videos">
        <div class="container">
            <div class="row">
                <div class="col-md-6 articles-section">
                    {% include 'DomainSiteBundle:Home:Widgets/articlesWidget.html.twig' %}
                </div>
                <div class="col-md-6 videos-section">
                    {% include 'DomainSiteBundle:Home:Widgets/videosWidget.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block mainContainerBanners %}
    <!-- Banners -->
    <section id="banners" class="banners">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 banner-small">
                        {% include 'DomainSiteBundle:Layout:Widgets/bannerWidget.html.twig' with { 'banner' : bannerBottom } %}
                    </div>
                    <div class="col-xs-6 banner-small">
                        {% include 'DomainSiteBundle:Layout:Widgets/bannerWidget.html.twig' with { 'banner' : bannerBottom } %}
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            requirejs(['{{asset("/bundles/domainsite/scripts/modules/homepage.js")}}'], function(Homepage) {
                var siteHomepage = new Homepage;
            })
        })
    </script>
{% endblock%}
 
