{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to Infopaginas!</span></h1>
                <h2><a href="{{ path('sonata_admin_dashboard') }}">Admin Panel</a></h2>
            </div>
        </div>
    </div>
{% endblock %}


