{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block main %}
<!-- Search Results -->
    <section id="search-results" class="search-results">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 banner-block desc-banner">
                    <img src="{{ asset("assets/images/banner.png") }}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="search-title blue-c">Bookstores in San Juan,Puerto Rico</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 list-block">
                    <div class="list-info">
                        <div class="results-info">
                            <span>1-20 of 53 Results </span><span>for Bookstores in San Juan</span>
                        </div>
                        <div class="sort-by">
                            <span>Sort by:</span>

                            <div class="dropdown filter-drop">
                                <div class="select-container">
                                    <select class="form-control select-control">
                                        <option>Relevance</option>
                                        <option>NY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card-item premium">
                            <div class="card-title">
                                <input type="checkbox" name="card-check" class="form-control checkbox-btn"
                                       id="card-check">
                                <label class="control-label card-label" for="card-check">
                                    <span class="card-number">1.</span>
                                    <span class="card-name">&nbsp;SONS Notebooks</span>
                                    <span class="card-slogan">&nbsp;<q>Organize, store, plan, prioritize.</q></span>
                                </label>
                            </div>
                            <div class="col-xs-5 schedule">
                                <div class="address">
                                    <span>San Juan, Puerto Rico 00919</span>
                                    <a href="">Get Direction <span>&#187;</span></a>
                                </div>
                                <div class="shift">
                                    <span>Mon - Fri  9 a.m. - 7 p.m.</span>
                                    <span>Sat 9:00 am-2:00pm</span>
                                </div>
                            </div>
                            <div class="col-xs-7 company-contact">
                                <ul class="company-info">
                                    <li><a href=""><i class="fa fa-home" aria-hidden="true"></i><span>http://sonsnotebooks.com/</span></a>
                                    </li>
                                    <li><a href="mailto:sonsnotebooks@yahoo.com"><i class="fa fa-envelope"
                                                                                    aria-hidden="true"></i><span>sonsnotebooks@yahoo.com</span></a>
                                    </li>
                                    <li>
                                        <div class="dropdown filter-drop">
                                            <i class="fa fa-phone" aria-hidden="true"></i>

                                            <div class="select-container">
                                                <select class="form-control select-control">
                                                    <option>phone number</option>
                                                    <option>NY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 additional-info">
                                <div class="icons">
                                    <a href=""><i class="photo"></i></a>
                                    <a href=""><i class="video"></i></a>
                                    <a href=""><i class="ad"></i></a>
                                </div>
                                <div class="reviews">
                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="whatever" class="rating-value" value="3">
                                    </div>
                                    <span>16 Reviews</span>
                                </div>
                            </div>
                            <div class="company-logo"><img src="http://placehold.it/120x120"></div>
                        </div>
                        <div class="card-item">
                            <div class="card-title">
                                <input type="checkbox" name="card-check2" class="form-control checkbox-btn"
                                       id="card-check2">
                                <label class="control-label card-label" for="card-check2">
                                    <span class="card-number">2.</span>
                                    <span class="card-name">&nbsp;SONS Notebooks</span>
                                    <span class="card-slogan">&nbsp;<q>Organize, store, plan, prioritize.</q></span>
                                </label>
                            </div>
                            <div class="col-xs-5 schedule">
                                <div class="address">
                                    <span>San Juan, Puerto Rico 00919</span>
                                    <a href="">Get Direction &#187;</a>
                                </div>
                                <div class="shift">
                                    <span>Mon - Fri  9 a.m. - 7 p.m.</span>
                                    <span>Sat 9:00 am-2:00pm</span>
                                </div>
                            </div>
                            <div class="col-xs-7 company-contact">
                                <ul class="company-info">
                                    <li><a href=""><i class="fa fa-home" aria-hidden="true"></i><span>http://sonsnotebooks.com/</span></a>
                                    </li>
                                    <li><a href="mailto:sonsnotebooks@yahoo.com"><i class="fa fa-envelope"
                                                                                    aria-hidden="true"></i><span>sonsnotebooks@yahoo.com</span></a>
                                    </li>
                                    <li>
                                        <div class="dropdown filter-drop">
                                            <i class="fa fa-phone" aria-hidden="true"></i>

                                            <div class="select-container">
                                                <select class="form-control select-control">
                                                    <option>phone number</option>
                                                    <option>NY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 additional-info">
                                <div class="icons">
                                    <a href=""><i class="photo"></i></a>
                                    <a href=""><i class="ad"></i></a>
                                </div>
                                <div class="reviews">
                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="whatever" class="rating-value" value="3">
                                    </div>
                                    <span>16 Reviews</span>
                                </div>
                            </div>
                            <div class="company-logo"><img src="http://placehold.it/120x120"></div>
                        </div>
                    </div>
                </div>
                <aside class="map col-md-4">
                    <img src="http://placehold.it/410x350">
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
