{% for category in categories %}
    {% if currentCategory %}
        {% set is_selected = (category.id == currentCategory.id) %}
    {% else %}
        {% set is_selected = false %}
    {% endif %}

    <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': currentLocality.getSlug(), 'categorySlug': category.getSlug() })) }}">{{ category.getName() }}</a>
    |
{% endfor %}
