<option>
    {% trans %}Neighborhoods{% endtrans %}
</option>
{% if results and results.neighborhoods is not empty %}
    {% for neighborhood in results.neighborhoods %}
        <option data-route="{{ path(pageRouter, searchData|merge({'geo': neighborhood.getName() })) }}"
            {% if searchData.geo == neighborhood.getName() %}selected{% endif %} value="{{ neighborhood.getName() }}">
            {{ neighborhood.getName() }}
        </option>
    {% endfor %}
{% endif %}
