{% if clickbaitBanner and clickbaitBanner.isActive %}
    <div class="clickbait-banner-container" data-bw-gtm-component="clickbait-banner">
        <div class="ad clickbait-banner-image">
            <a href="{{ clickbaitBanner.url }}" target="_blank" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Clickbait banner{% endtrans %}">
                <img src="{% path clickbaitBanner.image, 'normal' %}" alt="{{ clickbaitBanner.title }}">
                <div class="clickbait-banner-text">{{ clickbaitBanner.title }}</div>
            </a>
        </div>
    </div>
{% endif %}
