<div class="ad">
    {% if bannerFactory is not null %}
        {% include 'DomainSiteBundle:Layout:widgets/banner_double_click_widget.html.twig' with {'banner': bannerFactory.getSearchPageTop()} %}
    {% endif %}
</div>