<!-- Modal Filter for mobile devices -->
<div class="modal fade in" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✕</button>
                <h4 class="modal-title"><i class="fa fa-filter" aria-hidden="true"></i>Filter</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal filter">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12 sort">
                                <span class="filter-title">Sort By</span>
                                <div class="dropdown filter-drop">
                                    <div class="select-container">
                                        <select class="form-control select-control">
                                            <option>Relevance</option>
                                            <option>NY</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 filter-block">
                            <div class="form-group">
                                <span class="filter-title">Filter by</span>
                                <div class="dropdown category-drop">
                                    <div class="select-container">
                                        <select class="form-control select-control category-select">
                                            {% include 'DomainSearchBundle:Layout/widgets:categories_select_options.html.twig' %}
                                        </select>
                                    </div>
                                </div>
                                <div class="dropdown category-drop">
                                    <div class="select-container">
                                        <select class="form-control select-control neighborhood-select">
                                            {% include 'DomainSearchBundle:Layout/widgets:neighborhood_locations_select_options.html.twig' %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn green-btn submit-popup-btn">Submit</button>
            </div>
        </div>
    </div>
</div>