.mapboxgl-ctrl-bottom-left{
  display: none;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-image: url("/redesign/img/mapIcons/marker-red.svg");
  background-size: 24px 34px;
}

.marker-yellow {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-image: url("/redesign/img/mapIcons/marker-yellow.svg");
  background-size: 24px 34px;
}

.mapbox-logo {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  left: 10px;
  bottom: 10px;
  text-indent: -9999px;
  z-index: 4;
  overflow: hidden;
  background-image: url(/redesign/img/infopaginas.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mapbox-logo-words {
  position: absolute;
  display: block;
  height: 40px;
  width: 100px;
  left: 52px;
  bottom: 0px;
  text-indent: -9999px;
  z-index: 4;
  overflow: hidden;
  background-image: url(/redesign/img/infopaginas-iso.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#show-3d {
  background-color: #FAFAFA;
  padding: 10px 20px;
  z-index: 1;
  position: absolute;
  color: black !important;
  bottom: 400px;
  cursor: pointer;
  border: 1px solid #EEEEEE;
}

@media (max-width: 804px) {
  #show-3d {
    bottom: 472px!important;
  }
}

#menu {
  position: absolute;
  z-index: 1;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.default-menu {
  top: 10px;
}

.navigation-button, .navigation-button:visited, .navigation-button:hover {
  background-color: #e4e4e4;
  padding: 10px 20px;
  z-index: 1;
  position: absolute;
  color: black !important;

  .icon {
    background-image: url(/redesign/img/navigation-button.png);
    width: 35px;
    z-index: 1;
    position: absolute;
    height: 37px;
    background-size: 35px 37px;
  }

  span {
    line-height: 37px;
    padding-left: 45px;
  }
}

#directions-menu {
  position: absolute;
  z-index: 1;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  top: 60px;
  background: #e4e4e4;
}

@media (max-width: 767px) {
  .default-menu {
    top: 0px;
  }
}

@media (max-width: 804px) {
  #directions-menu {
    top: 41px;
  }
}

.map-menu-checkbox:not(:first-child)  {
  margin-left: 7px;
}
