$white: #fff;
$black: #000;
$grey: #2d3237;
$grey--light: lighten(#d3d7dd, 10%);
$grey--medium: darken(#707377, 5%);
$green: #acc02f;
$blue: saturate(#284c78, 12%);
$blue--dark: saturate(lighten(#1f2e42, 1%), 15%);
$orange: darken(#ffc80a, 5%);
$red: #d63a46;

$facebook: #3a5998;
$twitter: #1da1f2;
$whatsup: #25D366;
$email: #D44638;
$sms: #53d769;
$google: #E8453C;
$youtube: #FF0000;

$h-margin-mb: .7em;
$v-margin-mb: .1em;
$padding-mb: 5px;

$bar-height-mb: 60px;
$bar-height-mobile-mb: 45px;

$footer-height: 40px;

//radius
$general-radius: 2px;
$button-radius: $general-radius;

//input
$input-height-mb: 50px;
$input-line-height-mb: 1.5em;
$input-padding-mb: 0 10px;
$input-radius: $general-radius;

//toolbar
$toolbar-height-mb: 37px;

//testimonials section
$testimonial-image-size: 120px;