.sonata-ba-list-field-header-actions {
    width: 10%;
}
.sonata-ba-list-field-header-batch {
    width: 5%;
}

.sonata-ba-list-field-header-integer:nth-child(2) {
    width: 5%;
}

.btn-list-action{
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-bottom: 4px !important;
}

.sonata-ba-list-field-header-boolean {
    width: 60px;
}

.fa.pull-right {
    margin-left: 0.3em;
    margin-top: 3px;
}

.sidebar .sidebar-menu > li > a {
    display: block;
    padding: 15px 0 15px 10px;
}

h4.filter_legend:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -2px;
    margin-left: 5px;
}

h4.filter_legend img {
    vertical-align: inherit;
}

.box .box-header h4.box-title.filter_legend {
    padding-left: 7px;
}

.width98 {
    width: 98%;
}

#filter-switch {
    position: absolute;
    top: -8px;
    right: -36px;
    z-index: 2
}

.label-removed {
    color: #9d0505;
}

.btn-list-sorting {
    min-width: 32px;
    margin-right: 1px;
    margin-bottom: 4px;
}

.list-preview-image{
    max-height: 150px; max-width: 150px; !important;
}

.list-subscription-report-total{
    font-weight: bold;
}

.box-pdf {
    width: 99%;
}

.export-date-period {
    text-align: center;
}

.media-list-context{
    pointer-events: none;
    cursor: default;
}

.media-list-deleted-image{
    margin-right: 6px;
}

#google-map{
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}

#pac-input{
    margin-top: 10px;
    height: 32px;
    width: 75%;
}

div.scrollable-table {
    overflow-x: scroll;
}

div.scrollable-table table.ad-usage-table tbody tr:nth-child(3n) {
    border-bottom: 2px solid black;
}

div.chart-container {
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}

a.select-all-button {
    position: relative;
    float: right;
    cursor: pointer;
}

table .ui-sortable tr:hover {
    cursor: move;
}

td[class*="_extraSearches-categories"] {
    width: 20%;
}

td[class*="_extraSearches-areas"] {
    width: 20%;
}

td[class*="_extraSearches-localities"] {
    width: 20%;
}

td[class*="_keywords-valueEn"], td[class*="_keywords-valueEs"] {
    width: 45%;
}

table.business-review-table {
    width: 100%;
}

.main-header a.sidebar-logout {
    float: right;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}

img.video-poster {
    max-width: 100%;
    height: auto;
}

span.orm-pop-up-status {
    padding-left: 20px;
}

span.orm-pop-up-status img {
    height: 30px;
}

textarea.vertical-resize {
    resize: vertical;
}
