.sonata-ba-list-field-header-actions {
    width: 10%;
}
.sonata-ba-list-field-header-batch {
    width: 5%;
}

.sonata-ba-list-field-header-integer:nth-child(2) {
    width: 5%;
}

.btn-list-action{
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-bottom: 4px !important;
}

.sonata-ba-list-field-header-boolean {
    width: 60px;
}

.fa.pull-right {
    margin-left: 0.3em;
    margin-top: 3px;
}

.sidebar .sidebar-menu > li > a {
    display: block;
    padding: 15px 0 15px 10px;
}

h4.filter_legend:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -2px;
    margin-left: 5px;
}

h4.filter_legend img {
    vertical-align: inherit;
}

.box .box-header h4.box-title.filter_legend {
    padding-left: 7px;
}

.width98 {
    width: 98%;
}

#filter-switch {
    position: absolute;
    top: -8px;
    right: -36px;
    z-index: 2
}

.label-removed {
    color: #9d0505;
}

.btn-list-sorting {
    min-width: 32px;
    margin-right: 1px;
    margin-bottom: 4px;
}

.list-preview-image{
    max-height: 150px; max-width: 150px; !important;
}

.list-subscription-report-total{
    font-weight: bold;
}

.box-pdf {
    width: 99%;
}

.export-date-period {
    text-align: center;
}

.media-list-context{
    pointer-events: none;
    cursor: default;
}

.media-list-deleted-image{
    margin-right: 6px;
}

#google-map{
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}

div.scrollable-table {
    overflow-x: auto;
    padding: 10px;
}

div.scrollable-table table.ad-usage-table tbody tr:nth-child(3n) {
    border-bottom: 2px solid black;
}

div.chart-container {
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}

a.select-all-button {
    position: relative;
    float: right;
    cursor: pointer;
}

table .ui-sortable tr:hover {
    cursor: move;
}

td[class*="_extraSearches-categories"] {
    width: 20%;
}

td[class*="_extraSearches-areas"] {
    width: 20%;
}

td[class*="_extraSearches-localities"] {
    width: 20%;
}

td[class*="_keywords-valueEn"], td[class*="_keywords-valueEs"] {
    width: 45%;
}

td[class*="_collectionWorkingHours-days"] {
    width: 30%;
}

table.business-review-table {
    width: 100%;
}

.main-header a.sidebar-logout {
    float: right;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}

img.video-poster {
    max-width: 100%;
    height: auto;
}

span.orm-pop-up-status {
    padding-left: 20px;
}

span.orm-pop-up-status img {
    height: 30px;
}

textarea.vertical-resize {
    resize: vertical;
}

textarea[id *= "_description"] {
    resize: vertical;
}

.export-report-button-group button {
    margin: 10px;
}

div.gallery-media-block {
    display: inline-flex;
}

div.gallery-media-block .media-preview-block {
    width: 50%;
    height: 100px;
    position: relative;
}

div.gallery-media-block .media-preview-block img {
    max-width: 100%;
    max-height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.gallery-media-block .media-name-block {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.gallery-media-block .media-name-block span {
    overflow: auto;
    margin: 20px;
}

div.media-data-block {
    width: 100%;
    display: inline-flex;
}

div.media-data-block div.form-group {
    width: 50%;
}

div.media_gallery-remove-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

div.sonata-ba-field-standard-natural div.ui-sortable div.sonata-collection-row:hover {
    cursor: move;
}

div.single-media-preview-block {
    display: inline-block;
    float: left;
    width: 102px;
    height: 102px;
    position: relative;
    border: 1px solid black;
    margin: 0px 10px;
}

div.single-media-preview-block img {
    max-width: 100%;
    max-height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* dropzone */
.media-upload-block div.dropzone {
    border: 2px dotted #0B85A1;
    color :#92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.header-form-buttons button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px;
}

.total-block div[id *= "_interactionReportStatisticsContainer"] .row {
     margin-right: 0px;
     margin-left: 0px;
}

.total-block div[id *= "_interactionReportStatisticsContainer"] .panel-body {
    font-size: x-large;
}

.button-a {
    color: inherit;
}

.export-preview {
    min-width: 650px;
}

.chart-box {
    padding-bottom: 10px;
    border-bottom: 4px solid #00c0ef;
}

.mapboxgl-ctrl-bottom-left{
    display: none;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-image: url("/redesign/img/mapIcons/marker-red.svg");
    background-size: 24px 34px;
}

.marker-yellow {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-image: url("/redesign/img/mapIcons/marker-yellow.svg");
    background-size: 24px 34px;
}

.mapbox-logo {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    left: 10px;
    bottom: 10px;
    text-indent: -9999px;
    z-index: 99999;
    overflow: hidden;
    background-image: url(/redesign/img/infopaginas.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.mapbox-logo-words {
    position: absolute;
    display: block;
    height: 40px;
    width: 100px;
    left: 52px;
    bottom: 0px;
    text-indent: -9999px;
    z-index: 99999;
    overflow: hidden;
    background-image: url(/redesign/img/infopaginas-iso.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#menu {
    position: absolute;
    z-index: 1;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background: #e4e4e4;
}

.help-form-info {
    color: red;
    display: inline-block;
    margin-left: 20%;
}

.grid-list-info-message {
    color: red;
    margin-left: 20%;
}

.custom-radio {
    display: block;
}
