<option data-route="{{ path(app.request.get('_route'), app.request.query.all|slice(0, 2)) }}">
    {% trans %}Category{% endtrans %}
</option>
{% if results.categories is not empty %}
    {% for category in results.categories %}
        {% set is_selected = app.request.get('category') == category.getName() %}
        <option data-route="{{ path(app.request.get('_route'), app.request.query|merge({'category': category.getName() })) }}"
            {% if is_selected %}selected{% endif %} value="{{ category.getName() }}">
            {{ category.getName() }}
        </option>
    {% endfor %}
{% endif %}