# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_pgsql
    database_host:     192.168.32.134
    database_port:     ~
    database_name:     infopaginas
    database_user:     infopaginas
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # for site map
    router.request_context.host:   infopaginas.com
    router.request_context.scheme: https

    amazon_aws_key:         AKIAJNXO2HSEBOJIFU7A
    amazon_aws_secret_key:  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
    amazon_aws_bucket_name: infopaginas-dev
    amazon_aws_region:      us-east-1
    amazon_aws_base_url:    infopaginas-dev.s3-website-us-east-1.amazonaws.com

    # Sonata media files path storage
    sonata_media.cdn.host:   'https://s3.amazonaws.com/%amazon_aws_bucket_name%/uploads/media/%sonata_media.cdn.folder%'
    sonata_media.cdn.folder: infopaginas

    # elastic search settings
    elastic_search.host: 'http://52.55.24.17:9200'
    # unique document index preferably host
    elastic_search.document_index: 'infopaginas.com'

    # api token
    api_token: 3IKmd2uI78Wl4CUjnYCljfFhfE2WRn1FEvi4fsi3J00P7VIZgLCFhybIJepNFpmvvTUDjO53ZezF1bIiqFRY