<p><span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com uses Cookies to track user patterns on its web site.</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Users who wish to use our enhanced or personalized services may be required to provide additional information. By voluntarily providing more personal information you allow us to increase the value of your experience on our site. Infop&aacute;ginas.com will use the data collectively for its own statistical analyses of its services. Infop&aacute;ginas.com may also ask users to complete surveys for research purposes only. All demographic and behavioral research is compiled on an aggregated basis and would only be shared in aggregate form to interested third parties.&nbsp;</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">By providing an e-mail address, a user may from time to time receive communications from Infop&aacute;ginas.com on its new products and services or special offers that may be of interest. You can always opt out at the time of registration or at any time by telling us if you don&#39;t want to receive any e-mail communications from Infop&aacute;ginas.com.&nbsp;</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com reserves the right to change its policy at any time by notifying users of the existence of a new privacy statement. This statement does not create any contractual rights on behalf of any party. Our privacy policy only applies to Infop&aacute;ginas.com&#39;s web site.</span><br />
    <br />
    <strong>Cookies</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com is taking advantage of cookies to enhance its services to users.&nbsp;</span><br />
    <br />
    <strong>What is a Cookie?</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Web servers are able to store small text information on web browsers. This information is called a Cookie. Cookies are basically used to keep track of user navigation and status on a web site. Also Cookies help web sites that provide personalized services to identify their users and display appropriate information to each registered user.&nbsp;</span><br />
    <br />
    <strong>Where does Infop&aacute;ginas.com use a Cookie?</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com uses a Cookie for counting repeated users, regardless of who they are. However for registered users of personalized services, a Cookie is set to identify them so on their next attempt to use the service, they would not be prompted to login and identify themselves.&nbsp;</span><br />
    <br />
    <strong>How safe is using a Cookie?</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Because the Cookie information is a text value, there is no need to be worried about possible damage to your computer&#39;s software and data. No virus or executable code will be set on your computer as a result of setting a Cookie. Cookie sizes are limited so they won&#39;t take a lot of space.&nbsp;</span><br />
    <br />
    <strong>Who can see my Cookies?</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Essentially the web site that you visit sets the Cookie on your browser and will be referring to it later. But this is not a hidden information to the Internet world. That is the reason why Cookie values are scrambled and encrypted so the text value will not be too obvious for public. The cookie value set by Infop&aacute;ginas.com on your computer is meaningful only to this web site.&nbsp;</span><br />
    <br />
    <strong>How long will the Cookie stay on my computer?</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Some Cookie values are erased when you close your browser and some remain for future usage. Infop&aacute;ginas.com sets both types of cookies on your computer. The user identification Cookie will remain until the user signs off and clears it from their computer.&nbsp;</span><br />
    <br />
    <strong>Hints on using Cookies on Infop&aacute;ginas.com</strong><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com is using Cookies to identify registered users in order to streamline their personalized services. Without a Cookie, personalized services will not operate. Therefore users must enable their browsers to use Cookies. The identification of a user name is set as a Cookie in the registration phase. This ID will remain on that computer until it&#39;s removed and cleared by the user. Therefore any individual may use your computer to access your personalized services. Infop&aacute;ginas.com overcomes this issue by asking the user to enter in their password even though the user identification is understood from the Cookie value. Your identification Cookie is stored on all computers where you have entered your user name and password. When using another computer where you have never accessed your account before you will need to enter your user name and password because the identification Cookie was not set on that specific computer.</span></p>
