<p><span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">The services of this site are provided on an &quot;as is&quot; basis and without warranty. Infop&aacute;ginas.com does not guarantee that the service will meet the users need or that it will be error-free and without interruption. Use of this information for commercial or illegal purposes is prohibited.&nbsp;</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">This web site contains links to other web sites. We make no representation as to the accuracy, integrity or value of the information contained in these links.&nbsp;</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">All copyrights, trademarks, and other intellectual property rights on this web site belong to Infop&aacute;ginas.com or its licensors. No part of the web site may be reproduced, republished, copied, transmitted or distributed in any form by any means.&nbsp;</span><br />
    <br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Trademarks:</span><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">Infop&aacute;ginas.com</span><br />
    <span style="color:rgb(34, 34, 34); font-family:helvetica neue,helvetica,helvetica,arial,sans-serif">The terms of use maybe modified by Infop&aacute;ginas.com at any time</span></p>
