{% macro widget(field) %}
    {% set label = field.vars.label %}
    {% set required = field.vars.required %}
    {% set translation_domain = field.vars.translation_domain %}

    {% if field.vars.attr.class is defined %}
        {% set class = field.vars.attr.class %}
    {% else %}
        {% set class = '' %}
    {% endif %}

    <label for="{{ field.vars.id }}" class="{{ class }}">
        {{ label|trans({}, translation_domain) }}{% if required %}*{% endif %}
    </label>
{% endmacro %}