{% macro widget(field, customLabel) %}
    {% set label = field.vars.label %}
    {% set required = field.vars.required %}
    {% set translation_domain = field.vars.translation_domain %}
    {% if customLabel is defined and customLabel %}
        {% set label = customLabel %}
    {% endif %}
    {% if field.vars.attr.class is defined %}
        {% set class = field.vars.attr.class %}
    {% else %}
        {% set class = '' %}
    {% endif %}

    <label for="{{ field.vars.id }}" class="{{ class }}">
        {{ label|trans({}, translation_domain) }}{% if required %}<span data-required-indicator>*</span>{% endif %}
    </label>
{% endmacro %}