{% set selectable = false %}

{% if isSelectable is defined and isSelectable %}
    {% set selectable = true %}
{% endif %}

<div class="star-rating {% if selectable %}selectable{% endif %}" data-bw-gtm-component="review-rating-stars">
    {% for value in 1..5 %}
        <span class="fa fa-star-o fa-star{% if rating >= value %}-selected{% endif %}" data-rating="{{ value }}" data-bw-gtm-event-click data-bw-gtm-label="{{ value }}"></span>
    {% endfor %}

    {% if input is defined %}
        {{ form_widget(input) }}
    {% else %}
        <input type="hidden" name="whatever" class="rating-value" value="{{ rating }}">
    {% endif %}
    <span class="help-block"></span>
</div>
