{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% if object.media is not null %}
        <a href="{{ path('admin_sonata_media_media_edit', {'id' : object.media|sonata_urlsafeid }) }}">
            <img src="{% path object.media, 'normal' %}" alt="{{ object.media.name }}">
        </a>
    {% endif %}
{% endblock %}
