<video id="video-{{ media.id }}" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" data-setup='{"fluid": false}' {% if media.poster %}poster="{% path media.poster, 'normal' %}"{% endif %}>
    <source src="{{ url }}" type='{{ media.type }}'>
    <p class="vjs-no-js">
      {% trans %}To view this video please enable JavaScript, and consider upgrading to a web browser that{% endtrans %}
      <a href="http://videojs.com/html5-video-support/" target="_blank">{% trans %}supports HTML5 video{% endtrans %}</a>
    </p>
</video>

<script>
    'use strict';

    var video = videojs('video-{{ media.id }}');
    video.volume( 0.5 );

    video.socialShare({
        facebook: {},
        twitter: {}
    });

    var medias = Array.prototype.slice.apply( document.querySelectorAll( 'video' ) );

    medias.forEach( function( media ) {
        media.addEventListener( 'play', function( event ) {
            medias.forEach(function( media ) {
                if ( event.target != media ) {
                    media.pause();
                }
            });
        });
    });

</script>