<video id="video-{{ media.id }}" class="video-js vjs-big-play-centered" controls preload="auto" width="100%" data-setup="{}">
    <source src="{{ url }}" type='{{ media.type }}'>
    <p class="vjs-no-js">
      {% trans %}To view this video please enable JavaScript, and consider upgrading to a web browser that{% endtrans %}
      <a href="http://videojs.com/html5-video-support/" target="_blank">{% trans %}supports HTML5 video{% endtrans %}</a>
    </p>
</video>
