<div class="articles videos">
    <!-- TEMP for construction for render first 2 articles -->
    {% for video in videos %}
        <div class="col-xs-6 article">
            <div class="article-pic">
                {{ render_video_embed(video, {width: width, height: height}) | raw }}
            </div>
            <div class="article-info">
                {{ video.getName() }}

                <div class="article-text">
                    {{ video.getDescription() }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
