<!-- ProfileManage -->
<form
      class="form-horizontal general-manage"
      id="businessProfileRequestForm"
      novalidate="novalidate"
      name="{{ businessProfileForm.vars.name }}"
      {% if businessProfileForm.vars.value %} data-id="{{ businessProfileForm.vars.value.getId() }}"{% endif %}
>
    <div id="new-profile-loading-spinner-container-id"></div>

    <div class="tab-content">
        <div class="tab-pane active" id="general">
            {% include 'DomainBusinessBundle:Profile:blocks/tabs/general.html.twig' %}
        </div>
        <!-- Business Address tab -->
        <div class="tab-pane" id="businessAddress">
            {% include 'DomainBusinessBundle:Profile:blocks/tabs/address.html.twig' %}
        </div>

        {% if businessProfile is defined %}
            {% if media_tab_allowed_for_business(businessProfile) %}
                <div class="tab-pane" id="media">
                    {% include 'DomainBusinessBundle:Profile:blocks/tabs/media.html.twig' %}
                </div>
            {% endif %}
        {% endif %}

        <!-- Social Networks tab -->
        <div class="tab-pane" id="socialNetworks">
            {% include 'DomainBusinessBundle:Profile:blocks/tabs/social.html.twig' %}
        </div>
    </div>
</form>