<div class="form-footer col-xs-12">
    {% if businessProfile is defined %}
        {% set updatedBy = businessProfile.getUpdatedUser() %}
        {% if updatedBy %}
            <span>
                {% trans %}Last date of profile update{% endtrans %}:
                <span>
                    {{ businessProfile.getUpdatedAt() | date("Y-m-d") }} {% trans %}by{% endtrans %}
                    {{ updatedBy.getFirstname() }} {{ updatedBy.getLastname() }}
                </span>
            </span>
        {% endif %}
    {% endif %}
    <div class="form-btn">
        <button type="reset" class="btn btn-default grey-light-bk">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            {% trans %}Reset{% endtrans %}
        </button>
        <button type="submit" class="btn green-btn">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            {% trans %}Save{% endtrans %}
        </button>
    </div>
</div>