<nav class="navbar main-nav navbar-default white-c">
    <div class="row">
        <div class="col-xs-12 nav-block">
            <div class="container container-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-col" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="logo-header"></a>

                    <div class="header-form">
                        <form class="form-horizontal search-form">

                            <div class="form-group row">
                                <div class="col-xs-6 find-input">
                                    <input type="text" placeholder="What do you want to find?"
                                           class="form-control what">
                                </div>
                                <div class="col-xs-4 search-input">
                                    <input type="text" class="form-control" placeholder="San Juan"><span
                                            class="cross"></span>
                                </div>
                                <div class="col-xs-1 search-button">
                                    <button type="submit" class="btn btn-primary green-btn search-btn"><i
                                                class="fa fa-search"
                                                aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="menu-nav">
                        <li class="ad desc-menu"><a href="">Advertise with us</a></li>
                        <!-- <li class="login-link mobile-menu"><a href="">Welcome, <span class="user-name">Catalá Joyeros</span></a> -->
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbar-col">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="lang btn"><a href="">español</a></li>
                        <li class="lang btn"><a href="" class="active">english</a></li>
                        <li class="login-link desc-menu"><a href="" class="login-button"><span class="welcome">Welcome, </span><span
                                        class="user-name">Catalá Joyeros</span></a></li>
                        <li class="ad mobile-menu"><a href="">Advertise with us</a></li>
                    </ul>
                </div>

                <!-- ManageProfile Header -->
                <div class="container">
                    <div class="row profile-managment">
                        <div class="col-xs-12">
                            <div class="notice-block blue-c">Please note: changes will be applied after approval
                            </div>
                        </div>
                        <div class="col-xs-9 menu-collapsed">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar-buttons" aria-expanded="false">
                                    <div class="icons-bar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                    <span class="menu-label">Menu</span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="navbar-buttons">
                                <ul class="nav navbar-nav navbar-left buttons-block">
                                    <li><a href="" class="green-btn"><i class="fa fa-eye"
                                                                        aria-hidden="true"></i><span>View Profile</span></a>
                                    </li>
                                    <li><a href="" class="green-btn"><i class="ad-icon"
                                                                        aria-hidden="true"></i><span>Manage Ads </span></a>
                                    </li>
                                    <li><a href="" class="green-btn"><i class="fa fa-pie-chart"
                                                                        aria-hidden="true"></i><span>Reports</span></a>
                                    </li>
                                    <li><a href="" class="green-btn"><i class="fa fa-pencil" aria-hidden="true"></i><span>Reviews</span></a>
                                    </li>
                                    <li><a href="" class="green-btn"><i class="fa fa-tag"
                                                                        aria-hidden="true"></i><span>Subscriptions</span></a>
                                    </li>
                                    <li><a href="" class="green-btn"><i class="fa fa-percent"
                                                                        aria-hidden="true"></i><span>Discounts</span></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-xs-3 dropdown-col">
                            <span class="dropdown-label">Language:</span>

                            <div class="dropdown">
                                <div class="select-container">
                                    <select class="form-control select-control">
                                        <option>English</option>
                                        <option>NY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 tabs-block-wrap">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-block">
                                <li class="active"><a href="#general" aria-controls="general" role="tab"
                                                      data-toggle="tab">General</a></li>
                                <li><a href="#businessAddress" aria-controls="businessAddress" role="tab"
                                       data-toggle="tab">Business Address</a></li>
                                <li><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a>
                                </li>
                                <li><a href="#socialNetworks" aria-controls="socialNetworks " role="tab"
                                       data-toggle="tab">Social Networks </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>