<li class="dropdown sonata-actions">
    <a href="{{ admin.generateObjectUrl('create', object) }}">
        <i class="glyphicon glyphicon-subtitles"></i>
        {{ 'action_copy'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>