{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.id is not null %}
        <div class="form-group">
            <label class="control-label">
                Limit
            </label>

            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                <select title="Limit" id="{{ admin.uniqid }}_{{ field_description.name }}">
                    {% for key, value in field_description.options.choices %}
                        <option value="{{ key }}" {% if key == field_description.options.data %}selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
{% endblock %}
