{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <ul class="sonata-ba-show-many-to-many">
        {% for element in value%}
            <li>
                <a href="{{ url('admin_domain_business_category_edit', {id: element.id}) }}">{{ element|render_relation_element(field_description) }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}