{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %}
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="crumbs">
                    <a href="/">
                        {% trans %}Home{% endtrans %}
                        <span>&nbsp; &raquo;</span>
                    </a>
                    &nbsp;
                    <span>{{ page.title }}</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <section id="article">
        <div class="container">
            <div class="col-xs-12 article">
                <div class="article-info">
                    <div class="article-text">
                        {{ page.body|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
