<a href="{{ absolute_url(path('domain_site_home_index')) }}" class='mapbox-logo' target="_blank">Infopaginas</a>
<a href="{{ absolute_url(path('domain_site_home_index')) }}" class='mapbox-logo-words' target="_blank">Infopaginas</a>
