<div id="menu">
    <input id='basic' type='radio' name='rtoggle' value='basic' checked='checked' data-layer>
    <label for='basic'>Basic</label>
    <input id='streets' type='radio' name='rtoggle' value='streets' data-layer>
    <label for='streets'>Streets</label>
    <input id='bright' type='radio' name='rtoggle' value='bright' data-layer>
    <label for='bright'>Bright</label>
    <input id='light' type='radio' name='rtoggle' value='light' data-layer>
    <label for='light'>Light</label>
    <input id='dark' type='radio' name='rtoggle' value='dark' data-layer>
    <label for='dark'>Dark</label>
    <input id='satellite' type='radio' name='rtoggle' value='satellite' data-layer>
    <label for='satellite'>Satellite</label>
</div>
