<div id="menu">
    <input id='basic' type='radio' name='rtoggle' value='basic' checked='checked' data-layer>
    <label for='basic'>{% trans %}mapbox.menu.basic{% endtrans %}</label>
    <input id='streets' type='radio' name='rtoggle' value='streets' data-layer>
    <label for='streets'>{% trans %}mapbox.menu.streets{% endtrans %}</label>
    <input id='bright' type='radio' name='rtoggle' value='bright' data-layer>
    <label for='bright'>{% trans %}mapbox.menu.bright{% endtrans %}</label>
    <input id='light' type='radio' name='rtoggle' value='light' data-layer>
    <label for='light'>{% trans %}mapbox.menu.light{% endtrans %}</label>
    <input id='dark' type='radio' name='rtoggle' value='dark' data-layer>
    <label for='dark'>{% trans %}mapbox.menu.dark{% endtrans %}</label>
    <input id='satellite' type='radio' name='rtoggle' value='satellite' data-layer>
    <label for='satellite'>{% trans %}mapbox.menu.satellite{% endtrans %}</label>
</div>
