<div id="menu">
    <input id='streets' type='radio' name='rtoggle' value='streets' checked='checked' data-layer>
    <label for='streets'>{% trans %}mapbox.menu.streets{% endtrans %}</label>
    <input id='satellite' type='radio' name='rtoggle' value='satellite' data-layer>
    <label for='satellite'>{% trans %}mapbox.menu.satellite{% endtrans %}</label>
</div>
