<a id="navigation-button" class="navigation-button hide-desktop" href="#" target="_blank" rel="noopener"
   aria-label="{% trans %}Open navigation app{% endtrans %}">
        <i class="icon"></i>
        <span>{{ 'use_gps' | trans }}</span>
</a>
