<div class="toolbar">
    <div class="toolbar__nav">
        <a href="{{ absolute_url(path('emergency_main')) }}" title="{{ 'emergency.back_button'|trans }}">
            <button id="breadcrumb_location" type="button" class="button button--action button--location">
                <i class="fa fa-arrow-left"></i>
                <span>{{ 'emergency.back_button'|trans }}</span>
            </button>
        </a>
    </div>
</div>