<header class="header">
    <div class="logo">
        <a href="{{ absolute_url(path('domain_site_home_index')) }}">
            <img class="logo__icon" src="{{ absolute_url(asset('redesign/img/infopaginas.svg')) }}" alt="{% trans %}infopaginos.image.alt{% endtrans %}">
            <img class="logo__iso" src="{{ absolute_url(asset('redesign/img/infopaginas-iso.svg')) }}" alt="{% trans %}infopaginos.image.alt{% endtrans %}">
        </a>
    </div>
</header>