{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %}
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="crumbs">
                    <a href="{{ path('domain_site_home_index') }}">
                        {% trans %}Home{% endtrans %}
                        <span>&nbsp; &raquo;</span>
                    </a>
                    &nbsp;
                    {% if category is not defined %}
                        <span>{% trans %}Articles{% endtrans %}</span>
                    {% else %}
                        <a href="{{ path('domain_article_homepage') }}">
                            {% trans %}Articles{% endtrans %}
                            <span>&nbsp; &raquo;</span>
                        </a>
                        &nbsp;
                        <span>{{ category.getName() }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}

    <!-- Articles-->
    <section id="articles-videos" class="articles-videos view-all">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span class="blue-c">{% trans %}Articles{% endtrans %}</span>
                    </div>
                </div>
            </div>
            {% include 'DomainSiteBundle:Home:widgets/articles_widget.html.twig' with {'isList': true} %}

            <!-- Pagination -->
            {#{% include 'DomainSiteBundle:Layout:widgets/pagination.html.twig' with { 'page' : articlesResultDTO.page, 'pageCount' : articlesResultDTO.pageCount } %}#}
        </div>
    </section>
{% endblock %}