<table class="table table-bordered ad-usage-table">
    <thead>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}ad_usage_report.device_category{% endtrans %}</th>
            <th>{% trans %}ad_usage_report.clicks{% endtrans %}</th>
            <th>{% trans %}ad_usage_report.impressions{% endtrans %}</th>
            <th>{% trans %}ad_usage_report.ctr{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for key, date in adUsageData.dates %}
            {% for id, deviceCategory in adUsageData.deviceCategories %}
                <tr>
                    {% for item in adUsageData.results[id][key] %}
                        <td>{{ item|trans }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>{% trans %}ad_usage_report.total{% endtrans %}</th>
            {% for item in adUsageData.total %}
                <th>{{ item }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </tfoot>
</table>