<table class="table table-bordered">
    <thead>
    <tr>
        <th>{% trans %}Category{% endtrans %}</th>
        <th>{% trans %}Clicks{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for event, value in interactionsData %}
        <tr>
            <td>{{ event|trans }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>