<table class="table table-bordered">
    <thead>
    <tr>
        <th>{% trans %}Category{% endtrans %}</th>
        <th>{% trans %}Clicks{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in interactionsData %}
        <tr>
            <td>{{ row['category'] }}</td>
            <td>{{ row['clicks'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>