<div id="businessPhonesModal" class="modal modal--phones" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal__outside"></div>
    <div class="modal__content">
        <h2></h2>
        <div class="modal__section">
            <div class="form__field field--text" data-text-area></div>
            <div class="form__actions">
                <button type="button" class="button button--action hide-modal">{% trans %}Cancel{% endtrans %}</button>
            </div>
        </div>
        <button type="button" class="button--remove hide-modal"><i class="fa fa-remove"></i></button>
    </div>
</div>
