<!--Modal review-->
<div id="reportProblemModal" class="modal modal--problem" tabindex="-1" role="dialog" aria-hidden="true" data-bw-gtm-component="modal-report-problem">
    <div class="modal__outside"></div>
    <div class="modal__content report-problem-content">
        <div class="modal__section report-problem-form">
            {% include ':redesign/blocks:contact_us.html.twig' %}
        </div><!-- modal__section -->
        <div class="modal__section login__footer"></div><!-- modal__section -->
        <button type="button" class="button--remove hide-modal" data-bw-gtm-event-click data-bw-gtm-label="hide-modal"><i class="fa fa-remove"></i></button>
    </div><!-- modal__content -->
</div>