<video id="video-{{ media.id }}" class="video-js" controls preload="auto" width="{{ dimensions.width }}" height="{{ dimensions.height }}" data-setup="{}">
    <source src="https://s3.amazonaws.com/infopaginas-dev/video/2016/12/5851ae0e7d90a.mp4?X-Amz-Date=20161215T111456Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=4649dc7725844b32ee1748c599be4329269501e60e84cd320a61ddc1a2e12137&X-Amz-Credential=ASIAJLVZTKYVVSQR5FUQ/20161215/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzENH//////////wEaDNraEHJubVpqGgq0VyLBA%2BnPYmgldmVQgFc7OAA93MPrEO30QZwYFCFSQOtgY6LXQeXse%2BfcIvdEgymB6IOrRwFIAJVLL%2BVNcTEJKL9Q1mq7%2BLL/Avbrrkg0tL2%2BSb%2Bd%2BZbyKrQmdYpbNp/3zoTd%2B%2BhEnlyX0uAvVD0Dgmh1scYLelMmWGE15/DtoyCKxkjR3nzauZ7FNLbDQW6RzQJeXYwmfO0XL8FQAEhijY3H/bKkcOKAwQt8/a0b0NzHld32lsWkm/G9oFGiPWzYyGngBiok63rr4MAUgtMqvV1IzJJs/oPBddnQK1OlVKl3LsDPcFH20O1%2BEtvwrXxb1rcb6z4xLc%2Bb1vfLqpagPLxX9rcYBhqh6MW/7tV31SC4ZEK3WeMeNsGmPmB78eE8nFtNeFH2ocnd61%2BZHwnA1%2ByQC/2FSG0v4p5tBNC3xrwwNA75snR3ZWMYfCrafaXJxoMqhT%2BDlNC6FnVgabPLcq9lWzuM8kZNXVuux1nCw4Dh%2BF75wNlywxBE4mm8glcAmB4S56qQoz9XnEjR5V48J6EoJb0cUiuc2jQr/iIo/HPLJn90XZydqRqnfig7r4/0%2Bw8ltShWAxZHQ8xZhfzzvi3TDWcqKM2YycIF" type='{{ media.type }}'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
