<!-- Modal Forgotten Password -->
<div class="modal fade" id="forgottenPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10005;</button>
                <h4 class="modal-title">
                    {% trans %}Reset Password{% endtrans %}
                </h4>
            </div>
            <div class="modal-body">
                <div id="resetPasswordRequestSpinContainer" class="spinner-container"></div>
                <form class="form-horizontal login-form" id="forgottenPasswordForm" name="{{ resetPasswordRequestForm.vars.name }}">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ form_widget(resetPasswordRequestForm.email) }}
                                <span class="help-block"></span>
                                {{ form_rest(resetPasswordRequestForm) }}
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="#" id="resetPasswordRequestButton" class="green-btn login-btn full-width">
                                    <i class="fa fa-send" aria-hidden="true"></i>
                                    {% trans %}Reset Password{% endtrans %}
                                </a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
