<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10005;</button>
                <h4 class="modal-title">
                    {% trans %}Login{% endtrans %}
                </h4>
            </div>
            <div class="modal-body">
                <div id="login-spin-container"></div>
                <form class="form-horizontal login-form" id="loginForm">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ form_widget(loginForm._username) }}
                                {{ form_widget(loginForm._password) }}
                                {{ form_rest(loginForm) }}
                            </div>
                            <div class="col-xs-12 forgot-block">
                                <a href="" class="forgot-link">
                                    {% trans %}Forgot Password?{% endtrans %}
                                </a>
                                <a href="#" id="loginButton" class="green-btn login-btn">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    {% trans %}Log In{% endtrans %}
                                </a>
                            </div>
                            <div class="col-xs-12 alt-block">
                                <span class="alternative-login">{% trans %}or{% endtrans %}</span>
                            </div>
                            <div class="col-xs-12 social-buttons">
                                <a href="" class="facebook-btn btn">
                                    <span>
                                        {% trans %}Log In with{% endtrans %}
                                    </span>
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="" class="google-btn btn">
                                    <span>
                                        {% trans %}Log In with{% endtrans %}
                                    </span>
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-xs-12 question-block">
                                <span>
                                    {% trans %}New to Infopaginas?{% endtrans %}
                                </span>
                                <a href="" id="add-acc" class="create-acc" data-dismiss="modal" data-toggle="modal" data-target="#regModal">
                                    {% trans %}Create account{% endtrans %}
                                    <span>&#187;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>